drafts
rf eq.R
2b. Defining VS (bio10,bio16).R
3b. Sampling occurrences and pseudo-absences (bio10,bio16).R
4b. Spatial thinning (bio10,bio16).R
5b. GLMs_GAMs (bio10,bio16).R
6. GLMs_GAMs (previous).R
